<a href="https://colab.research.google.com/github/diksha139/105StudentActivity/blob/main/DemographicFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# cloning data from git repo
!git clone https://github.com/procodingclass/kaggle-movie-data-.git

fatal: destination path 'kaggle-movie-data-' already exists and is not an empty directory.

In [4]:
# creating dataframes
import pandas as pd

credits_df = pd.read_csv('/content/kaggle-movie-data-/tmdb_5000_credits.csv')
movies_df = pd.read_csv('/content/kaggle-movie-data-/tmdb_5000_movies.csv')

In [5]:
# printing first 5 rows
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
# printing first 5 rows
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
# renaming column
credits_df.rename(columns = {'movie_id' : 'id'} , inplace = True)
credits_df.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
# merging dataset
result_df = pd.merge(movies_df , credits_df , on = 'id')

In [9]:
# printing shape
result_df.shape

(4803, 23)

In [23]:
#  printing info about dataset
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3958 entries, 1881 to 242
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3958 non-null   int64
 1   genres                3958 non-null   object
 2   id                    3958 non-null   int64
 3   keywords              3958 non-null   object
 4   original_language     3958 non-null   object
 5   original_title        3958 non-null   object
 6   overview              3958 non-null   object
 7   popularity            3958 non-null   float64
 8   production_countries  3958 non-null   object
 9   release_date          3958 non-null   object
 10  revenue               3958 non-null   int64
 11  runtime               3958 non-null   float64
 12  spoken_languages      3958 non-null   object
 13  status                3958 non-null   object
 14  tagline               3958 non-null   object
 15  vote_average          3958 non-null   float64
 16  vote_count            3958 non-null   int64
 17  cast                  3958 non-null   object
 18  crew                  3958 non-null   object
 19  weighted_rating       3958 non-null   float64
dtypes: float64(4), int64(4), object(12)
memory usage: 649.4+ KB

In [11]:
# dropping columns : cleaning dataset
result_df.drop(['homepage', 'title_x', 'title_y', 'production_companies'] , axis = 1 , inplace = True)

In [24]:
# printing info again to verify
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3958 entries, 1881 to 242
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3958 non-null   int64
 1   genres                3958 non-null   object
 2   id                    3958 non-null   int64
 3   keywords              3958 non-null   object
 4   original_language     3958 non-null   object
 5   original_title        3958 non-null   object
 6   overview              3958 non-null   object
 7   popularity            3958 non-null   float64
 8   production_countries  3958 non-null   object
 9   release_date          3958 non-null   object
 10  revenue               3958 non-null   int64
 11  runtime               3958 non-null   float64
 12  spoken_languages      3958 non-null   object
 13  status                3958 non-null   object
 14  tagline               3958 non-null   object
 15  vote_average          3958 non-null   float64
 16  vote_count            3958 non-null   int64
 17  cast                  3958 non-null   object
 18  crew                  3958 non-null   object
 19  weighted_rating       3958 non-null   float64
dtypes: float64(4), int64(4), object(12)
memory usage: 649.4+ KB

In [13]:
# dropping cols with na
result_df.dropna(inplace = True)
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3958 entries, 0 to 4801
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3958 non-null   int64
 1   genres                3958 non-null   object
 2   id                    3958 non-null   int64
 3   keywords              3958 non-null   object
 4   original_language     3958 non-null   object
 5   original_title        3958 non-null   object
 6   overview              3958 non-null   object
 7   popularity            3958 non-null   float64
 8   production_countries  3958 non-null   object
 9   release_date          3958 non-null   object
 10  revenue               3958 non-null   int64
 11  runtime               3958 non-null   float64
 12  spoken_languages      3958 non-null   object
 13  status                3958 non-null   object
 14  tagline               3958 non-null   object
 15  vote_average          3958 non-null   float64
 16  vote_count            3958 non-null   int64
 17  cast                  3958 non-null   object
 18  crew                  3958 non-null   object
dtypes: float64(3), int64(4), object(12)
memory usage: 618.4+ KB

In [14]:
# Calculating weighted average
R = result_df['vote_average']

In [15]:
v = result_df['vote_count']

In [16]:
C = result_df['vote_average'].mean()
print(C)

6.181859525012634

In [17]:
m = result_df['vote_count'].quantile(0.9)
print(m)

2101.2000000000007

In [18]:
result_df['weighted_rating'] = (R*v + C*m) / (v + m)

In [19]:
result_df[['original_title' , 'weighted_rating']].head()

                             original_title  weighted_rating
0                                    Avatar         7.046106
1  Pirates of the Caribbean: At World's End         6.671412
2                                   Spectre         6.262201
3                     The Dark Knight Rises         7.334118
4                               John Carter         6.140709

In [20]:
result_df.sort_values('weighted_rating' , ascending = False , inplace = True)

In [21]:
result_df[['original_title' , 'vote_average' , 'vote_count' , 'weighted_rating' , 'popularity']].head(10)

,original_title,vote_average,vote_count,weighted_rating,popularity
1881,The Shawshank Redemption,8.5,8205,8.027384,136.747729
662,Fight Club,8.3,9413,7.913465,146.757391
65,The Dark Knight,8.2,12002,7.899322,187.322927
3232,Pulp Fiction,8.3,8428,7.877305,121.463076
96,Inception,8.1,13752,7.845768,167.583710
3337,The Godfather,8.4,5893,7.816983,143.659698
95,Interstellar,8.1,10867,7.789209,724.247784
809,Forrest Gump,8.2,7927,7.777141,138.133331
329,The Lord of the Rings: The Return of the King,8.1,8064,7.703510,123.630332
1990,The Empire Strikes Back,8.2,5879,7.668620,78.517830

In [25]:
import plotly.express as px
bar_plot = px.bar(result_df.head(10).sort_values('weighted_rating') , x = 'weighted_rating' , y = 'original_title' , orientation = 'h')
bar_plot.show()